@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');

html{
    margin: 0;
    padding: 0;
}
body {
    background-color: #2e3440;
    margin: 0;
    padding: 0;
}
a:link{
    color: #88c0d0;
}

a:link, a:visited{
    color: #88c0d0;
    text-decoration: none;
}

a:hover
{
    color: #bf616a;
    text-decoration: none;

}

.container{
    text-align: center;
    font-family: 'B612 Mono', monospace;
}
.container ul {
    list-style-type: none;
    font-size: 2.2em;
    margin-top: 3em;
    padding: 0, 3em, 0em, 3em;
}
.container li {
    padding: 1em;
    display: inline-block;
}
.nord-fox {
    margin: -1em;
    max-width: 36%;
    width: auto;
    height: auto;    
}

.container2{
    text-align: center;
    font-family: 'B612 Mono', monospace;
}
.container2 ul {
    list-style-type: none;
    font-size: 2.2em;
    margin-top: 2em;
}
.container2 li {
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding: .8em;
    display: inline-block;
}